#!/bin/sh
# Copyright 2023 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        python3 setup.py bdist
        ;;

    package)
        tar xvf dist/wazo-prometheus-exporter-plugin-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
        ;;

    uninstall)
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
