[Unit]
Description=Rabbitmq Exporter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull kbudde/rabbitmq-exporter
ExecStart=/usr/bin/docker run \
    --rm \
    --name=%n \
    --network=host \
    --env=RABBIT_URL=http://localhost:15672 \
    kbudde/rabbitmq-exporter

[Install]
WantedBy=multi-user.target
